<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="/static/sign.css">
    <title>Авторизация</title>
</head>
<body>
<!-- Header -->
<header class="header">
    <div class="header-container">
        <div class="logo">
            DabForum
        </div>
        <nav class="nav">
            <a href="/" class="nav-link">Главная</a>
            <a href="/messages" class="nav-link">Сообщения</a>
        </nav>
    </div>
</header>
<!-- Main -->
<main>
    <!-- Wrapper -->
    <div class="wrapper">
        <form method="post" action="/sign_in">
            <label>
                <input name="username" placeholder="Никнейм" type="text">
            </label>
            <label>
                <input name="password" placeholder="Пароль" type="password">
            </label>
            <button type="submit">Войти</button>
        </form>
        <div class="member">
            Не зарегистрировны?
            <a href="/sign_up"> Регистрация </a>
        </div>
    </div>

</main>
</body>
</html>